/* stylesheet für die Übungswebseite */

html {
  background: whitesmoke;
  color:black;
}

body {
  background-color: white;
  color:black;
  font-family: sans-serif;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
}


header {
  padding: 2rem, 1rem;    
}

header p:first-child{
  font-size: 2.5rem;
  margin: 0;

}

header p{
  margin: 0;
}

main{
  padding: 0 1rem;
  font-weight: 500;
}
